*{
    padding: 0;
    margin: 0;
    text-decoration: none;
   
    box-sizing: border-box;
}

body{
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 100rem;
}

nav{
    background: black;
    height: 80px;
    width: 100%;
}
.logo{
    width: 50px;
    height: 50px;
    margin: 10px 0 0 9rem;
}

nav ul {
    float: right;
    margin-right: 15rem;
    display: flex;
    margin-top: 1rem;
    
}
 ul li{
     padding: 0 2rem;
}

ul li a{
    color: #fff;
}

ul li :hover{
    color:  cyan;
    box-shadow: 0 0 5px #33ffff;
    padding: 1rem;
    border-radius: 5px;
}

.checkbtn{
    font-size: 25px;
    color: #fff;
    float: right;
    margin: 1rem 8rem 0 0;
    cursor: pointer;
    display: none;
    
}
#check{
    display: none;
}

nav ul ul{
    position: absolute;
    top: 30px;
    display: flex;
    flex-direction: column;
    background: black;
    padding:  2rem 0; 
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: top .4s;
}
nav ul li:hover > ul{
    
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
  padding: 1rem;
  float: none;
  
}
.extra-img{
    width: 50%;
    margin-bottom: -5rem;
}

.extra-img img{
    height: 30%;
    width: 30%;
    margin-left: -9rem;
}
.extra-img-1 {
    margin-bottom: -5rem;
}
.extra-img2{
    float: right;
    margin-top: -4rem;
}
.home-headers{
    display: flex;
}

.home-headers-1{
    position: relative;
    left: -3rem;
}
.home-headers-1 h1{
    font-size: 50px;
    line-height: 65px;
}
.home-headers-1 p{
    font-size: 25px;
    line-height: 27px;
    color: gray;
}
.home-headers-img{
    margin: 0 0 8rem 17rem;
}
.home-headers-img img{
    width: 80%;
    height: 90%;
}


.home-container{
    display: flex;
    align-items: center;
    margin: 0 10rem;
    background: lightgoldenrodyellow;
    border-radius: 25px;
}
.home-container-img img{
    border-radius: 25px;
    margin-left: -3rem;
}
.home-container-text{
    margin:0  3rem;
}
.home-container-text h5{
    font-size: 22px;
    color: yellowgreen;
    line-height: 25px;
    margin: 0 0 1rem 0;
}
.home-container-text h2{
    font-size: 28px;
    line-height: 35px;
    margin: 0 0 1rem 0;
}

.home-container-text p{
    font-size: 18px;
    line-height: 23px;
    color: gray;
    margin: 0 0 3rem 0;
}
.home-container-text a{
    padding: 1rem 2rem;
    background: blue;
    color: #fff;
    border-radius: 25px;
}

.subscribe-part{
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
    background: blue;

}
.subscribe-part h3{
    font-size: 30px;
    line-height: 27px;
    color: #fff;
    margin: 0 2rem;
}
.input-part input{
    padding: 1rem 3rem;
    border-radius: 25px;
    border: 5px solid black
    
}
.input-part button{
    padding: 1rem 2rem;
    border-radius: 25px;
    color: #fff;
    background: black;
    border:  solid black
}

.card-holder{
    background: black;
    padding: 4rem 0 ;
}
.card-container{
    margin: 0 66rem 0 5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    position: relative;
    bottom: 4.5rem;
}
.card-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container img{
    max-width: 100%;
    border-radius:  15px 15px 0 0;
    
    
}
.card-container-text h4{
    font-size: 24px;
    line-height: 32px;
    margin: 0.5rem 0;
    padding: 0 1rem;
}
.card-container-text p{
    font-size: 15px;
    line-height: 27px;
    color: gray;
    margin: 0.5rem 0;
    padding: 0 1rem;
}
.card-container-text h6{
    font-size: 20px;
    color: goldenrod;
    padding: 1rem 1rem;
    margin: 1rem 0;
}
.card-container1{
    margin: 0 66rem 0 5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    position: relative;
    left: 29rem;
    bottom: 42rem;
}
.card-container1:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container1 img{
    max-width: 100%;
    border-radius:  15px 15px 0 0;
}
.card-container3{
    margin: 0 66rem 0 5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    position: relative;
    left: 58rem;
    bottom: 79.5rem;
}
.card-container3:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container3 img{
    max-width: 100%;
    border-radius:  15px 15px 0 0;
}

.card-container4{
    margin: 0 66rem 0 5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    position: relative;
    left: 58rem;
    bottom: 79.5rem;
}
.card-container4:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container4 img{
    max-width: 100%;
    border-radius:  15px 15px 0 0;
}

.card-container5{
    margin: 0 66rem 0 5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    position: relative;
    left: 29rem;
    bottom: 116.8rem;
}
.card-container5:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container5 img{
    max-width: 100%;
    border-radius:  15px 15px 0 0;
}

.card-container6{
    margin: 0 66rem 0 5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    position: relative;
    bottom: 154rem;
}
.card-container6:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container6 img{
    max-width: 100%;
    border-radius:  15px 15px 0 0;
}

.card-container7{
    margin: 0 66rem 0 5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    position: relative;
    bottom: 154rem;
}
.card-container7:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container7 img{
    max-width: 100%;
    border-radius:  15px 15px 0 0;
}

.card-container8{
    margin: 0 66rem 0 5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    position: relative;
    left: 29rem;
    bottom: 191.5rem;
}
.card-container8:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container8 img{
    max-width: 100%;
    border-radius:  15px 15px 0 0;
}

.card-container9{
    margin: 0 66rem 0 5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    position: relative;
    left: 58rem;
    bottom: 229rem;
}
.card-container9:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container9 img{
    max-width: 100%;
    border-radius:  15px 15px 0 0;
}

.subscribe-part2{
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
    background: black;
    position: relative;
    bottom: 230rem;
    
}
.subscribe-part2 h3{
    font-size: 30px;
    line-height: 27px;
    color: #fff;
    margin: 0 2rem;
}
.input-part input{
    padding: 1rem 3rem;
    border-radius: 25px;
    border: 5px solid black
    
}
.input-part button{
    padding: 1rem 2rem;
    border-radius: 25px;
    color: black;
    background: cyan;
    border:  solid black
}

.footer{
    display: flex;
    align-items: center;
    margin: 0 7rem;
    position: relative;
    bottom: 220rem;
}
.footer img{
    height: 10%;
    width: 10%;
}
.footer p{
    font-size: 22px;
    line-height: 33px;
    margin:  0 2rem;
}



@media screen and (max-width : 1300px){
    .home-headers-img img{
        width: 80%;
        height: 70%;
    }
}

@media screen and (max-width : 1100px){
    .extra-img2{
        display: none;
    }
    .extra-img{
        margin-left: 2rem;
    }
    .home-headers-img img{
        width: 76%;
         height: 90%;
         margin-top: 2rem;
    }
    .home-headers-1{
        position: relative;
        margin: 0 3rem;
        margin: 2rem 0;
    }
    .home-container{
       margin: 0 2rem;
    }

}
@media screen and (max-width: 958px) {
    .checkbtn{
        display: block;
    }
    .home-headers-1{
        position: relative;
        margin: 0 3rem;
        
    }

    .home-headers{
        display: flex;
        flex-direction: column;
    }
    .home-headers-img{
        margin: 8rem 0 1rem 3rem;
    }

    .home-headers-1 h1{
        font-size: 40px;
        line-height: 55px;
        margin-left: 3rem;
    }
    .home-headers-1 p{
        font-size: 20px;
        line-height: 27px;
        color: gray;
        margin-left: 3rem;
    }

    .home-headers-img img{
        width: 86%;
         height: 58%;
    }
    ul{
        position: fixed;
        background: black;
        width: 100%;
        height: 50vh;
        top: 80px;
        top: -60vh;
        transition: all .5s;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }
    #check:checked ~ ul{
        top: 4rem;
    }
    nav ul li{
        margin: 2rem 0;
    }
    nav ul li ul{
       width: 30%;
       height: 100%;
       
    }
    nav ul  li ul li {
        margin: 5px 0;
    }
   .extra-img{
       display: none;
   }
   .extra-img2{
       display: none;
   }
   .home-container{
    margin: 1rem 1rem;
 }

 .subscribe-part{
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    background: blue;

}
.subscribe-part h3{
    font-size: 24px;
    margin: 1rem 2rem;
}
.input-part input{
    padding: 0.5rem 2rem;
}
.input-part button{
    padding: 0.5rem 1.6rem;
    
}

.card-holder{
    background: black;
    padding: 2rem 0 ;
}
.card-container{
    margin: 0 3rem;
    position: relative;
    left: 1rem;
    top: 1rem;
}



.card-container1{
    margin: 0 3rem;
    position: relative;
    left: 1rem;
    top: 1rem;
}

.card-container3{
    margin: 0 3rem;
    position: relative;
    left: 1rem;
    top: 1rem;
}

.card-container4{
    margin: 0 3rem;
    position: relative;
    left: 1rem;
    top: 1rem;
}

.card-container5{
    margin: 0 3rem;
    position: relative;
    left: 1rem;
    top: 1rem;
}

.card-container6{
    margin: 0 3rem;
    position: relative;
    left: 1rem;
    top: 1rem;
}

.card-container7{
    margin: 0 3rem;
    position: relative;
    left: 1rem;
    top: 1rem
}

.card-container8{
    margin: 0 3rem;
    position: relative;
    left: 1rem;
    top: 1rem
}

.card-container9{
    margin: 0 3rem;
    position: relative;
    left: 1rem;
    top: 1rem
}
.subscribe-part2{
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    position: relative;
    bottom: 1rem;
    
}
.subscribe-part2 h3{
    font-size: 25px;
    line-height: 27px;
    margin: 1rem 1rem;
}
.input-part input{
    padding: 0.5rem 2rem;
}

.input-part button{
    padding: 0.5rem 1rem;
    
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    position: relative;
    bottom: 1rem;
}
.footer img{
    height: 40%;
    width: 40%;
    margin: 2rem 0;
}
.footer p{
    font-size: 20px;
    text-align: center;
    line-height: 33px;
    margin:  0 1rem;
}



}

@media screen and (max-width : 798px) {
    .logo{
       margin: 5px 0 0 3rem;
       width: 45px;
       height: 45px;
    }
    .checkbtn{
        margin-right:  4rem;
    }
    nav ul li{
        margin: 2rem 0;
    }
    nav ul li ul{
       width: 30%;
       height: 70%;
       margin-left: -1rem;
}
    nav ul li ul li:hover{
        box-shadow: none;
        width: 100%;
    }
    nav ul  li ul li {
        margin: 5px 0;
    }
    .home-container{
        display: flex;
        flex-direction: column;
        margin: 2rem 4rem;
    }
    .home-container-text{
        margin:1rem  1rem;
        text-align: center;
    }
}
@media screen and (max-width : 698px) {
   
        nav ul li ul{
       width: 40%;
       height: 70%;
       margin-left: -1rem;
}
.home-container-img img{
    width: 100%;
    height: 100%;
    margin-left: 0.1rem;
}
    
}

@media screen and (max-width : 598px) {
   
    nav ul li ul{
   width: 50%;
   height: 70%;
   margin-left: -1rem;
}
.home-container{
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
}

}

@media screen and (max-width : 498px) {
   
    nav ul li ul{
   width: 50%;
   height: 70%;
   margin-left: -1rem;
}
.home-container{
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
}


}

@media screen and (max-width : 398px) {
   
    nav ul li ul{
   width: 60%;
   height: 70%;
   margin-left: -1rem;
}
.home-container{
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
}


}


